.wrapper {
  display: flex;
  justify-content: space-between;
}

.sidebar {
  padding: 15px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  /* width: 70%; */
  width: 65%;
  height: 25vh;
}

.fulldisplay {
  margin-bottom: 20px;
}

    
.box {
    float: left;
    height: 15px;
    width: 15px;
    margin-bottom: 5px;
    margin-right: 5px;
    border: 1px solid black;
    clear: both;
  }
  
  .red {
    background-color: #d46485;
  }
  
  .green {
    background-color: #66D268;
  }
  
  .blue {
    background-color: #7BBEF7;
  }
 