.wrapper {
  display: flex;
  justify-content: space-between;
}

.sidebar {
  padding: 15px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  /* width: 70%; */
  width: 65%;
  height: 25vh;
}

.fulldisplay {
  margin-bottom: 20px;
  /* color: #e2d8f1 */
}

.menuHeader {
  font-weight: bold;
}


